

.search-div{
    /* border: 2px solid black; */

    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home-search-box{
    width: 50vw;
    text-align: center;
}




.main-div{
    /* padding: 100px; */
    width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}


.cards{
    border: 2px solid black;
    border-radius: 30px;
    
    
    padding: 180px;
    margin: 100px;
    display: flex;
    
  
    cursor: pointer;
   
}



 .one{
    background: url("../Images/fruits.jpg");
    background-size:100% 100%;
    height: 300px;
    width: 80vw;
    background-repeat: no-repeat;
    opacity: 0.90;
    align-items: center;
    justify-content: center;
    
    /* overflow: scroll; */
   
   
} 




.second{
    background: url("../Images/vegetables.jpg");
    background-size:100% 200%;
    height: 300px;
    width: 80vw;
    background-repeat: no-repeat;
    opacity: 0.90;
    align-items: center;
    justify-content: center;

    
    
} 

h2{
    font-size: bolder;
    font-weight: bolder;

}